.slider {
    width: 1127px;
    display: flex;
    justify-content: flex-end;
} 

.wrapperSlader {
    width: 1260px;
    height: 158px;
    border-radius: 10px;
    border: 2px solid #029491;
    margin-left: 94px;
    display: flex;
}

.hearders {
    width: 133px;
    display: flex;
    flex-direction: column;
    background-color: #029491;

}

.hearder {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin: 27px 0 0 27px;
}

.hearder:first-child {
    margin-top: 17px;
}

.prevButton {
    border: none;
    background: white;
    position: relative;
    bottom: 103px;
    left: 40px;
}


.nextButton {
    border: none;
    background: white;
    position: relative;
    bottom: 103px;
    left: 1305px;
}

.wrapperResults {
    margin-top: 18px;
}

.documentNumberResult:first-child {
    margin-top: 0px;
}

.documentNumberResult {
    margin-top: 36px;
    text-align: center
}

.line {
	width: 2px;
	height: 124px;
    opacity: 0.4000000059604645;
	background: #949494;
    opacity: 0.6;
    position: relative;
	float: right;
    
}
.documentNumberResultContainer {
    width: 130px;
    margin: 0 auto;
}






@media screen and (max-width: 780px) {
    .wrapper {
        height: 140px;
    }
	.slider {
        width: 298px;
        height: 65px;
        display: flex;
        justify-content: center;
    } 
    
    .wrapperSlader {
        width: 300px;
        height: 140px;

        border: none;
        margin-left: 38px;
        flex-direction: column;
        margin-bottom: ;
        background: #FFF;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);

    }
    
    .hearders {
        width: 298px;
        height: 75px;
        border-top-left-radius: 10px;
        border-top-right-radius:  10px;
        flex-direction:row;

    }
    .hearder {
        line-height: normal;
        font-size: 18px;
       
        letter-spacing: 0.18px;
        margin: 23px 0 0 0px;
    }
    .hearder:first-child {
        margin-top: 23px;
        margin-left: 15px;
    }
    .hearder:nth-child(2n) {
        margin-left: 49px;
    }
    .hearder:nth-child(3n) {
        margin-left: 20px;
    }
    
 

    
    .wrapperResults {
        margin-top: 0px;
    }

    .documentNumberResult {
        margin-top: 18px;
        text-align: center;
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.16px;
    }
    .documentNumberResult:first-child {
        margin-top: 18px;
        margin-left: 9px;
    }

    .documentNumberResult {
        margin-left: 60px;
    }



    
    .line {
        display: none;
        
    }
    .documentNumberResultContainer {
        width: 298px;
        display: flex;
    }
    .prevButton {
        width: 1px;
        height: 1px;
        border: none;
        background: white;
        position: relative;
        bottom: 57px;
        left: -7px;
    }
    
    .nextButton {
        width: 1px;
        height: 1px;
        border: none;
        background: white;
        position: relative;
        bottom: 57px;
        left: 320px;
    }
}


