.wrapper {
    width: 415px;
    height: 540px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid #FFB64F;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
}
.textH4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    margin:0px 0px 0px 30px;
    padding-top: 30px;
}
.textH5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.thirdTextH5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin:80px 0px 10px 30px;
}
.text {
    font-size: 18px;
    line-height: 22px;
    margin:10px 0px 0px 30px;
    
}
.image {
    width:88px;
    height: 84px;
    margin-top: 10px;
    position: relative;
    float: right;
    margin-right: 15px;
}
.firstColour {
    background: #FFB64F;
    border-radius: 10px 10px 0px 0px;
    height: 132px;
}
.secondColour {
    background: #7CE3E1;
    border-radius: 10px 10px 0px 0px;
    height: 132px;
}
.thirdColour{
    background: #000000;
    border-radius: 10px 10px 0px 0px;
    height: 132px;
    color: #FFFFFF;
}
.wrapperPrice {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;

}
.priceEarlier {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.5;
    margin: 0px  0px 10px 19px;
}
.priceNow {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    margin: 0px  0px 10px 30px;
}
.rate {
    font-size: 18px;
    line-height: 22px;
    margin: 0px  0px 50px 30px;

}
.checkmark {
    width:20px;
    height: 20px;
    margin: 0px 0px 0px 30px;
}
.checkmarkWrapper {
    display: flex;
    align-items: center;
}
.checkmarkText {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 0px 0px 8px;
}
.button {
    width: 355px;
    height: 59px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 5px;
    background: #D2D2D2;
    color: #000000;
    border: none;
    margin-left: 30px;
    margin-top: 55px;
}
.button:hover {
	cursor: pointer;
}
.rectangle {
    width: 134px;
    height: 24px;
    border-radius: 10px;
    background: #3BA5E0;
    font-size: 14px;
    letter-spacing: 0.14px;
    color: #FFFFFF;
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
    margin-left: 271px;
}
@media screen and (max-width: 780px) {
    .wrapper {
        width: 335px;
        height: 512px;
    }
    .textH4 {
        font-size: 20px;
        line-height: normal;
        margin:0px 0px 0px 24px;
    }
    
    
    .textH5 {
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0.18px;
        margin-left: 24px;
    }
    .thirdTextH5 {
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0.18px;
        margin:37px 0px 10px 24px;
    }


    .text {
        letter-spacing: 0.18px;
        line-height: normal;
        line-height: 22px;
        margin:22px 0px 0px 24px;
        
    }
    .image {
        width:58px;
        height: 54px;
        margin-top: 10px;
        position: relative;
        float: right;
        margin-right: 15px;
    
    }
    .firstColour {
        background: #FFB64F;
        border-radius: 10px 10px 0px 0px;
        height: 132px;
    }
    .secondColour {
        background: #7CE3E1;
        border-radius: 10px 10px 0px 0px;
        height: 132px;
    }
    .thirdColour{
        background: #000000;
        border-radius: 10px 10px 0px 0px;
        height: 132px;
        color: #FFFFFF;
    }  
    .priceNow {
        letter-spacing: 0.3px;
        line-height: normal;
        margin: 20px  0px 10px 24px;
    }
    .priceEarlier {
        line-height: normal;
        letter-spacing: 0.25px;
        margin: 23px  0px 10px 10px;
    }
    .rate {
        line-height: normal;
        letter-spacing: 0.18px;
        margin: 0px  0px 36px 24px;
    }
    .checkmark {
        width:20px;
        height: 20px;
        margin: 0px 0px 0px 30px;
    }
    .checkmarkWrapper {
        display: flex;
        align-items: center;
    }
    .checkmarkText {
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.16px;
    }
    .button {
        width: 287px;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0.18px;
        margin-left: 24px;
        margin-top: 40px;
    }
    .rectangle {
       display: none;
    }
}