.wrapper {
	display: flex;
	flex-wrap: wrap;
	height: 670px;
}
.h1Title {
	font-family: 'Ferry', arial;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 40px;
	letter-spacing: 0.8px;
	order: 1;
	position: relative;
	left: 60px;
	margin: 0;
	top: 69px;
}
.imagePeople {
	width: 322px;
	height: 342px;
	order: 4;
	position: relative;
	bottom: 310px;
	left: 172px;

}
.imagePadlock {
	width: 76px;
	height: 93px;
	order: 2;
	position: relative;
	left: 130px;
	top: 30px;
}
.form {
	order: 3;
	position: relative;
	top: 69px;
	left: 100px;
}
.brMobile {
	display: none;
}
@media screen and (max-width: 780px) {
	.wrapper {
		width: 375px;
		height: 1250px;
	}
    .h1Title{
        font-size: 22px;
		letter-spacing: 0.44px;
		left: 14px;
		top: 31px;
    }
	.brMobile {
		display: block;
	}
	.imagePadlock {
		width: 75.219px;
		height: 92.065px;
		left: 100px;
		top: 65px;		
	}
	.imagePeople {
		width: 335px;
		height: 356px;
		bottom: 40px;
		left: 14px;
		margin-top: 49px ;	
	}
	.form {
		top: 0;
		left: 14px;
		margin-top: 0;
	}

}