.header {
	display: flex;
    height: 93px;
}

.headerGreen {
    display: flex;
    height: 93px;
    background-color: #029491;
}
.navLinks {
    display: flex;
    gap: 49px;
    margin-left: 401px;
    margin-top: 38px;
}
.imageScan {
    margin-left: 60px;;
}

.navLink {
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.regLink {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.4;
    cursor: pointer;
    margin-left: 291px;
    margin-top: 37px;
}

.hr {
	width: 1px;
	height: 26px;
    background: #029491;
    opacity: 0.6;

    margin: 29px 0px 0px 18px;
   
}

.buttonLogin {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background: #7CE3E1;
    border-radius: 5px;
    width: 65px;
    height: 26px;
    margin: 29px 0px 0px 20px;
    text-decoration: none;
    color: #000000;
    text-align: center;
	line-height: 26px;
}

.personName {
font-size: 14px;
line-height: normal;
opacity: 0.699999988079071;
}


.buttonLogout {color: #000;
font-size: 10px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.4000000059604645;
border: none;
text-align: right;
}

.personPhoto {

border-radius: 50%;
height: 40px;
width: 40px;
margin-top: 28px;
margin-left: 5px;
}

.personWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.infoCompanyWrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 144px 0px 138px;
    text-align: right;

}

.infoCompany  {
    font-size: 10px;
    line-height: normal;
    letter-spacing: 0.1px;
    opacity: 0.4000000059604645;
    margin: 0px;
}

.infoCompany:nth-child(1n) {
    margin-bottom: 7px;


}
.usedCompanyNumber {
color: #000000;
font-size: 14px;
font-weight: 700;
line-height: normal;
margin-left: 9px;
}
.usedCompanyLimitNumber {
font-size: 14px;
font-weight: 700;
line-height: normal;
margin-left: 9px;
    color: #8AC540;
}

.loader {
    margin:30px 203px 0px 204px;
}

.mobileMenuIcon {
    display: none;
}

@media screen and (max-width: 780px) {
    .imageScan {
        margin-left: 14px;
        width: 110px;
        height: 93px;
    }
    .navLink{
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
    }
    .navLinksMobile {
        position: absolute;
        display: block;
        list-style: none;
        background-color: #029491;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;

    }
    .navlinks {
        display: none;
    }
    .mobileMenuIcon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: #029491;
        background-color: white;
        border: none;
        outline: none;
        top: 34px;
        right: 26px;
    }
}